<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password Email</title>
    <style>
      /* Ensure the full page uses flexbox to align elements */
      body,
      html {
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .container {
        padding: 100px 24px;
        max-width: 500px;
        margin: 0 auto;
        flex-grow: 1;
        text-align: center;
        color: #333;
      }

      .button {
        display: inline-block;
        width: 100%;
        padding: 12px;
        background-color: #5b52f9;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        border-radius: 4px;
        margin: 16px 0;
      }

      .footer {
        width: 100%; /* Ensure the footer takes the full width of the screen */
        text-align: center;
        color: #6b7280;
        font-size: 12px;
        padding-bottom: 80px;
        box-sizing: border-box;
      }

      .social-links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        margin-bottom: 16px;
      }

      .social-links a {
        display: block;
      }

      .social-links img {
        width: 30px;
        height: 30px;
      }

      .footer p {
        margin: 0;
        color: #6b7280;
      }

      .footer .description {
        width: 100%; 
        text-align: center; 
        margin: 8px auto;
        max-width: 100%; 
        padding: 0 16px; 
      }

      /* Center the logo */
      .logo-container {
        text-align: center;
        padding-top: 24px;
      }

      /* Add space between sections */
      h1 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 16px;
        color: #333;
      }

      p {
        font-size: 14px;
        text-align: left;
        margin-bottom: 16px;
      }
    </style>
  </head>
  <body>
    <div class="logo-container">
      <img
        src="https:"
        alt="Fradragsjakt Logo"
        width="152"
        height="32"
      />
    </div>
    <div class="container">
      <h1>Verify your email</h1>
      <p className="text-sm text-left mb-6">
        Hi [user],
        <br />
        You are almost set to start using all of our features. Simply click the
        verify email button below to complete the verification process.
        <br />
        The link expires in 48 hours.
      </p>

      <a href="{{resetLink}}" class="button"> Verify your email</a>
    </div>

    <footer class="footer">
      <div class="social-links">
        <a href="{{facebookUrl}}">
          <img src="{{facebookIconUrl}}" alt="Facebook" />
        </a>
        <a href="{{linkedinUrl}}">
          <img src="{{linkedinIconUrl}}" alt="LinkedIn" />
        </a>
        <a href="{{instagramUrl}}">
          <img src="{{instagramIconUrl}}" alt="Instagram" />
        </a>
      </div>

      <p style="text-align: center">&copy; 2024 Fradragsjakt</p>

      <p class="description">
        Fradragsjakt is a comprehensive tax management solution that assists
        freelancers, gig workers, independent contractors, family, and small
        business owners in tracking expenses and identifying tax write-offs.
      </p>
    </footer>
  </body>
</html>
